name: Deploy to DreamHost (con SCP Seguro)

# Ejecutar esto cada vez que haga push a main
on:
  push:
    branches:
      - main

jobs:
  deploy-static-site:
    runs-on: ubuntu-latest
    steps:
      # 1. Traer el c贸digo del repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Subir los archivos con la acci贸n SCP
      - name: SCP Deploy (appleboy)
        uses: appleboy/scp-action@v0.1.4
        with:
          # --- Mis datos de login (Secrets) ---
          host: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          
          # --- Forzar el puerto 22 ---
          port: 22 
          
          # --- Mis datos de carpetas (con la correcci贸n) ---
          source: ./
          
          # Esta es la correcci贸n de la ruta
          # (relativa a la 'casa' del usuario)
          target: falconplantresources.com
