name: Deploy to DreamHost (con FTP)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Trae el código de tu repositorio
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Sube los archivos (Usando el script de SamKirkland)
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          # --- Tus datos de login (Secrets) ---
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}

          # --- ¡¡LA ÚNICA COMBINACIÓN QUE FUNCIONA!! ---
          protocol: ftp
          port: 21
          # --- ---

          # --- Tus datos de carpetas ---
          remote-dir: ${{ secrets.REMOTE_PATH }}
          local-dir: ./
          
          # (YA NO ESTÁ LA LÍNEA 'dangerous-clean-slate'
          #  PARA EVITAR EL ERROR 550)
