name: Deploy to DreamHost (con SCP Seguro)

on:
  push:
    branches:
      - main

jobs:
  deploy-static-site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SCP Deploy (Versi칩n Hashirama)
        # 游릭 CAMBIO 1: Actualizado a v0.1.7 para arreglar el error de Node.js 12
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          
          # 游릭 CAMBIO 2: Excluimos .git y .github para no ensuciar el servidor
          source: ".,!./.git,!./.github"
          
          # 游릭 CAMBIO 3: 'rm: true' limpia la carpeta destino antes de copiar.
          # 칔salo SOLO si quieres borrar archivos viejos que ya no usas.
          # Si te da miedo borrar algo, quita esta l칤nea.
          # rm: true 
          
          target: falconplantresources.com
