name: Deploy to DreamHost (con SCP Seguro)

on:
  push:
    branches:
      - main

jobs:
  deploy-static-site:
    runs-on: ubuntu-latest
    steps:
      # 1. Trae el código de tu repositorio
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Sube los archivos con la ACCIÓN "scp" (La otra recomendada por Daniel)
      - name: SCP Deploy (appleboy)
        uses: appleboy/scp-action@v0.1.4
        with:
          # --- Tus datos de login (Secrets) ---
          # (Son los mismos)
          host: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          
          # --- Forzamos el puerto correcto ---
          port: 22 
          
          # --- Tus datos de carpetas ---
          source: ./
          target: ${{ secrets.REMOTE_PATH }}
